{% extends 'collector/app_base.html' %}

{% block content %}

<article>    
    <h1>{{ exhibit.title}}</h1>

    {% if request.user == exhibit.curator %}
    <a href="{% url 'collector:exhibit-delete' exhibit.id %}">Delete</a>
    {% endif %}

    <p>{{ exhibit.curatorial_statement }}</p>
    
    {% for exhibit in exhibit.exhibit_set.all %}
    <h2><a href="{% url 'collector:exhibit-detail' exhibit.id %}">{{ exhibit.title }}</a></h2>
    <a href="{% url 'collector:exhibit-update' exhibit.id %}">Edit</a>
    <p>{{ exhibit.curatorial_statement }}</p>
        {% for work in exhibit.works.all %}
        <figure>
            <img src="{{ work.figure_url_or_default }}" alt="" width="200" height="200">
            <figcaption>
                <a href="{% url 'collector:work-detail' work.id %}">{{ work.title }}</a>
            </figcaption>
        </figure>
        {% endfor %}
    {% endfor %}

    <a href="{% url 'collector:exhibit-add' exhibit.id %}">Add exhibit</a>
</article>

{% endblock %}