{% extends 'base.html' %}

{% block content %}
<article>
    
    <h1>{{ gallery.title}}</h1>
    {% if request.user == gallery.curator %}
    <a href="{% url 'collector:gallery-delete' gallery.id %}">Delete</a>
    {% endif %}
    <p>{{ gallery.curatorial_statement }}</p>
    
    {% for exhibit in gallery.exhibit_set.all %}

<h3>
    {{ exhibit.title }}
</h3>
<p>{{ exhibit.curatorial_statement }}</p>

{% for work in exhibit.works.all %}
<h4>
    {{ work.title }}
</h4>
{% endfor %}

    {% endfor %}

    <a href="{% url 'collector:exhibit-add' gallery.id %}">Add exhibit</a>

</article>
{% endblock %}